body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: space-around;
  background-color: #c3e0fd;
  overflow: hidden;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 8px;
  font-size: calc(10px + 2vmin);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
